
<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "Title of article" %>
  </div>

  <% @article.errors.full_messages_for(:title).each do |msg| %>
    <%= msg %>
  <% end %>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description, rows: 10, placeholder: "Description of article" %>
  </div>
  
  <% @article.errors.full_messages_for(:description).each do |msg| %>
    <%= msg %>
  <% end %>

  <%= form.submit %>
<% end %>

<%= link_to "Cancel and return to articles listing", articles_path %>