<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body >
    <%= render "layouts/navigation" %>
    <%= render "layouts/messages" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
